<div class="panel panel-success">
    <div class="panel-heading">Categories (Expenses)</div>
    <div class="panel-body">
        <form class="form-inline" ng-submit="addExpenseCategory(expenseCat)">
            <fieldset>
                <div class="form-group">
                    <label class="sr-only" for="inputExpenseCategoryName">Category Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputExpenseCategoryName" placeholder="Category Name" ng-model="expenseCat.category">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Add</button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <ul class="list-group">
            <li class="list-group-item">Bills: Cable</li>
            <li class="list-group-item">Bills: Electric</li>
        </ul>
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">Categories (Income)</div>
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="addIncomeCategory(incomeCat)">
            <fieldset>
                <div class="form-group">
                    <label class="sr-only" for="inputIncomeCategoryName">Category Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputIncomeCategoryName" placeholder="Category Name" ng-model="incomeCat.category">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">Add</button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
        <ul class="list-group">
            <li class="list-group-item">Paycheck</li>
            <li class="list-group-item">Misc</li>
            <li class="list-group-item">Jigalow Work</li>
        </ul>
    </div>
</div>